body {
    text-align: center;
    justify-content: center;
}
.btn {
    height : 150px;
    width: 150px;
    border : 7px solid black;
    border-radius: 15%;
    margin: 1rem;

}

.btn-container {
    display: flex;
    justify-content: center;
    
}

.pink {
    background-color: #33A1E0;
}

.yellow {
    background-color: #D3AF37;
}

.green {
    background-color: #EA5B6F;
}

.purple {
    background-color: #81E7AF;
}

.flash {
    background-color: white;

}

.userflash {
    background-color: green;
}